html {
    max-width: 80em;
    margin: 0 auto;
}

body {
    font: 16px/1.5 Verdana, sans-serif;
}

h1, h2, h3, h4, p, ul{
    padding-bottom: 1em;
}

ul {
    padding-left: 3em;
}

header {
    padding-top: 2em;
}